spring:
  application:
    name: data-distributor
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=apa;encrypt=false;trustServerCertificate=true
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:P@ssw0rd}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

data-distributor:
  external-api:
    base-url: "http://localhost:8081"
  processing:
    batch-size: 300
    rate-limit: 20

logging:
  level:
    com.datadistributor.outadapter.web: DEBUG

resilience4j:
    circuitbreaker:
      instances:
        signalEventApi:
          sliding-window-type: COUNT_BASED
          sliding-window-size: 100
          minimum-number-of-calls: 200
          failure-rate-threshold: 100
          wait-duration-in-open-state: 2s
          permitted-number-of-calls-in-half-open-state: 20
          automatic-transition-from-open-to-half-open-enabled: true
